.wrapper {
    background-color: #5d97f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: 0px 3px 8px 1px #11428b;
}

.link {
    display: inline-block;
    text-align: center;
}

.link,
.cost {
    margin: 0 10px;
    color: #ffffff;
}

.cost {
    padding: 3px;
}